.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.archive .jobs .entry-header-inner,
.search .jobs .entry-header-inner {
    text-align: left;
}
.archive .jobs .entry-title a,
.search .jobs .entry-title a {
    color: #202020;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 600;
}
.company-link {
    color: #373737;
}
.location-links,
.location-links a {
    color: #828282;
}
.archive .jobs .entry-title,
.search .jobs .entry-title {
    margin: 0;
}