body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}
.wrapper {
	display: flex;
	max-width: 1170px;
	margin: 0 auto;
}
.wrapper-fluid {
	display: flex;
	max-width: 100%;
}