body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
}