#masthead {
    margin-bottom: 20px;
    background: $color__foreground-body;

    .site-branding {
        width: 100%;
        padding: 20px;

        .site-title {
            margin: 0;
            font-size: 20px;

            a,
            a:hover,
            a:focus,
            a:visited {
                color: $color__link-hover;
                text-decoration: none;
            }
        }

        .site-description {
            margin: 0;
            font-size: 16px;
        }

    }
}